name: Pull Request

permissions:
  contents: read
  
on:
  pull_request:
    types: [ synchronize, opened, reopened, ready_for_review ]
    branches:
      - "main"
      - 'release-**'
      - 'feat/**'

concurrency:
  group: branch-${{ github.ref_name }}
  cancel-in-progress: true
  
env:
  GITLEAKS_VERSION: 8.21.0

jobs:
  verify-pins:
    name: Verify-commit-pins
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-verify-commit-pins.yaml
    secrets: inherit

  pull-request-status:
    needs: [ verify-pins ]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
        
  dependabot:
    needs: [ verify-pins, pull-request-status ]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    if: ${{ success('pull-request-status') && github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --squash --auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
